<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="username"></p>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>userName</th>
        <th>lastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod: ${spitters}">
        <td th:text="${prod.id}"></td>
        <td th:text="${prod.email}"></td>
        <td th:text="${prod.firstName}"></td>
        <td th:text="${prod.lastName}"></td>
        <td th:text="${prod.username}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>